.designprofserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    margin-top: 5em;
    margin-bottom: 4em;
}

.profileservice {
    height: 35em;
    width: 50em;
    border: solid black 0.1em;
    border-radius: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .designprofserv {
        height: 20em;
        width: 10em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10em;
        padding-left: 5em;
        margin-top: 3em;
        margin-bottom: 4em;
    }
    
    .profileservice {
        height: 50em;
        width: 15em;
        margin-top: 5em;
        border: solid black 0.1em;
        border-radius: 1em;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}