.designRegister {
    width: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    margin-left: 30em;
    margin-top: 5em;
    margin-bottom: 4em;
}

.botonSend {
    cursor: pointer;
    border-radius: 0.2em;
    height: 2em;
    width: 6em;
    background-color: white;
    transition: 0.4s;
    color: black;
}
