.designhome {
    margin-top: 5em;
    margin-bottom: 4em;
}

.homecontainer {
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 18em;
    height: 55em;
    width: 60em;
    border: solid black 0.1em;
    border-radius: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.quienessomos {
    font-size: 1.5em;
    margin-left: 0.3em;
}

.lema {
    font-size: 1.5em;
}

.info {
    font-size: 1.1em;
    margin-left: 1em;
    margin-right: 1em;
}