
.designnav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 4em;
    width: 95.7em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid black 0.15em;
    background-color: salmon;
    position:fixed;
    left:0px;
    top:0px;
}

.home {
    height: 5em;
    width: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.services {
    height: 5em;
    width: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title {
height: 5em;
width: 3em;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
font-size: 3em;
}

.register {
height: 5em;
width: 3em;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
cursor: pointer;
}

.login {
height: 5em;
width: 3em;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
cursor: pointer;
}

.profile {
height: 5em;
width: 3em;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
cursor: pointer;
}

.allhiredservices {
height: 5em;
width: 3em;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
cursor: pointer;
}

.registeredusers {
    height: 5em;
    width: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }
